<% add_decidim_page_title(proposal_wizard_step_title(action_name)) %>

<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-9">
    <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>
    <div class="card card__content">
      <div class="row column view-header">
        
        <% unless component_settings.participatory_texts_enabled? %>
          <%= cell("decidim/coauthorships", @proposal, has_actions: false, size: 3, context: { current_user: current_user }) %>
        <% end %>

        <%= render_proposal_body(@proposal) %>
      </div>
      <div class="row column">
        <%= cell "decidim/proposals/proposal_tags", @proposal %>
      </div>
    </div>
    <% if component_settings.geocoding_enabled? %>
      <% if has_position?(@proposal) %>
      <div class="row column">
        <h3 class="section-heading"><%= t("decidim.application.geocoding.geocoded_address") %></h3>
            <%= render partial: "decidim/shared/static_map", locals: { icon_name: "proposals", geolocalizable: @proposal } %>
      </div>
      <% end %>
    <% end %>
    <div class="row column">
      <%= attachments_for @proposal %>
    </div>

    <div class="p-l">
      <div class="row column flex-center">
        <%= link_to t(".modify"), edit_draft_proposal_path(@proposal) %>
        <%= button_to t(".publish"), publish_proposal_path(@proposal), method: :post, class: "button button--nomargin small" %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
