
.comments-header {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}

.br-comments-count {
  color: var(--blue-warm-vivid-80);
  font-size: 1.25rem !important;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.comments_blocked_warning{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--blue-warm-vivid-80);
  
}

.comment__footer {
  padding: 1rem;
  font-size: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}


.comment__footer_votes {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.comment_check {
  margin-left: 6px;
}

.interaction-select:hover {
  a {
    color: var(--blue-warm-vivid-20);
  }
}

.feedback-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.accept-button {
  background-color: var(--background-light);
  border: 1px solid var(--blue-warm-vivid-70);
  color: var(--blue-warm-vivid-70);
}
.accept-button.selected {
  background-color: var(--blue-warm-vivid-70);
  color: var(--background-light);
}


.reject-button {
  background-color: var(--background-light);
  border: 1px solid var(--red-vivid-60);
  color: var(--red-vivid-60);
}
.reject-button.selected {
    background-color: var(--red-vivid-60);
    color: var(--background-light);
  
}