<% menu_id = "#{SecureRandom.uuid}_results_per_page_menu" %>
<div class="results-per-page">
  <div class="results-per-page__dropdown">
    <span class="results-per-page__text"><%= t("decidim.shared.results_per_page.label") %></span>
    <ul class="dropdown menu" data-dropdown-menu
      data-autoclose="false"
      data-disable-hover="true"
      data-click-open="true"
      data-close-on-click="true"
      role="menubar">
      <li class="is-dropdown-submenu-parent" role="presentation">
        <a class="results-per-page-button"href="#" id="<%= menu_id %>-control" aria-controls="<%= menu_id %>" aria-haspopup="menu" title="<%= t("decidim.shared.results_per_page.title") %>" role="menuitem">
          <%= per_page %>
          <div class="filters-per-page-button">
            <i class="fa-solid fa-chevron-down"></i>
          </div>
        </a>
        <ul id="<%= menu_id %>" class="menu" role="menu" aria-labelledby="<%= menu_id %>-control">
          <% Decidim::Paginable::OPTIONS.each do |per_page_option| %>
            <li role="presentation" class="resullts-per-page-item">
              <%= link_to per_page_option,
                          url_for(params.to_unsafe_h.merge(page: nil, per_page: per_page_option)),
                          data: { per_page_option: per_page_option },
                          remote: true,
                          title: t("decidim.shared.results_per_page.title"),
                          class: "results-per-page__link",
                          role: "menuitem" %>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  </div>
</div>
